.controls th, .errors th {
    border-bottom: 5px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
}

.controls td, .errors td {
    border: 2px solid black;
    padding: 0.15vh 0.2vw;
}

table .center-cell {
    text-align: center;
}
.controls, .errors {
    border: 5px dotted white;
}

.controls,.errors tr:nth-child(even) {
  background-color: rgba(150, 212, 212, 0.4);
}

.controls,.errors th:nth-child(even),td:nth-child(even) {
  background-color: rgba(150, 212, 212, 0.4);
}

.row-warning {
    background-color: rgba(255, 1, 1, 0.564)!important;
}

.hint { 
    display:none; 
    background-color: aliceblue;
    transform-origin: 100px 10px;
    border-right:2px solid black;
    border-bottom:2px solid black;
    z-index: 1;
}
.center-cell:hover .hint { display:block; position: absolute; }