{% extends 'base/base.html' %}
{% load customtemplatetags %}

{% block head %}
    {% load static %}
    <title>Index</title>
    <link rel="stylesheet" type="text/css" href="{% static 'index.css' %}">
{% endblock head %}

{% block content %}


    <h2>Delegate Controls</h2>
    <table class="controls">
        <tr>
            <th>Host</th>
            <th>Command name</th>
            <th class="center-cell">Return code</th>
            <th class="center-cell">Timestamp</th>
            <th class="center-cell">Last change at</th>
            <th>Message</th>
        </tr>
    {% for control in delegate_controls %}
        <tr>
            <td>{{ control.host }}</td>
            <td>{{ control.command_name }}</td>
            <td class="center-cell">{{ control.returncode }}</td>
            <td class="center-cell">{{ control.timestamp|secs_to_datetime }}</td>
            <td class="center-cell">{{ control.timestamp|substract:control.last_change|secs_to_time }}</td>
            <td>{{ control.message }}</td>
        </tr>
    {% endfor %}
    </table>


    <h2>Master Errors</h2>
    <table class="errors">
        <tr>
            <th>Host</th>
            <th>Command name</th>
            <th class="center-cell">Return code</th>
            <th class="center-cell">Timestamp</th>
            <th>Message</th>
        </tr>
    {% for error in master_errors %}
        <tr>
            <td>{{ error.host }}</td>
            <td>{{ error.command_name }}</td>
            <td class="center-cell">{{ error.returncode }}</td>
            <td class="center-cell">{{ error.timestamp|secs_to_datetime }}</td>
            <td>{{ error.message }}</td>
        </tr>
    {% endfor %}
    </table>

    <h2>Master Controls</h2>
    <table class="controls">
        <tr>
            <th>Host</th>
            <th>Command name</th>
            <th class="center-cell">Return code</th>
            <th class="center-cell">Timestamp</th>
            <th class="center-cell">Last change at</th>
            <th>Message</th>
        </tr>
    {% for control in master_controls %}
        <tr>
            <td>{{ control.host }}</td>
            <td>{{ control.command_name }}</td>
            <td class="center-cell">{{ control.returncode }}</td>
            <td class="center-cell">{{ control.timestamp|secs_to_datetime }}</td>
            <td class="center-cell">{{ control.timestamp|substract:control.last_change|secs_to_time }}</td>
            <td>{{ control.message }}</td>
        </tr>
    {% endfor %}
    </table>

    <h2>Delegate Errors</h2>
    <table class="errors">
        <tr>
            <th>Host</th>
            <th>Command name</th>
            <th class="center-cell">Return code</th>
            <th class="center-cell">Timestamp</th>
            <th>Message</th>
        </tr>
    {% for error in delegate_errors %}
        <tr>
            <td>{{ error.host }}</td>
            <td>{{ error.command_name }}</td>
            <td class="center-cell">{{ error.returncode }}</td>
            <td class="center-cell">{{ error.timestamp|secs_to_datetime }}</td>
            <td>{{ error.message }}</td>
        </tr>
    {% endfor %}
    </table>
    
{% endblock content %}